body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
}

img.responsive-img {
  max-width: 45%;
}

.row {
  text-align: center;
}

.selectedItem {
  background-color: aqua;
}